div.pod {
    background-color: yellow;
    width: 100%;
    font-weight: bold;
    border: 1px solid blue;
}

div#yellow {
    background-color: yellow;
}

div#green {
    background-color: green;
}

div#blue {
    background-color: blue;
}

div#red {
    background-color: red;
}

